BIBA_IMAGE_TAG=latest
MOTOR_DRIVER_TYPE=BTS7960
BEACON_ENABLED=1
BEACON_DELAY_S=300
CH_BEACON=5
RAMP_ACCEL_RATE=2.0
RAMP_DECEL_RATE=3.0
MOTOR_DEADBAND=0.05
LEFT_MOTOR_RPWM=18
LEFT_MOTOR_LPWM=13
LEFT_MOTOR_REN=23
LEFT_MOTOR_LEN=23
RIGHT_MOTOR_RPWM=12
RIGHT_MOTOR_LPWM=16
RIGHT_MOTOR_REN=20
RIGHT_MOTOR_LEN=20