BIBA_IMAGE_TAG=latest
BMS_TRANSPORT=BLE
BMS_BLE_ADDRESS=
BMS_BLE_SERVICE_UUID=0000fff0-0000-1000-8000-00805f9b34fb
BMS_BLE_WRITE_UUID=0000fff2-0000-1000-8000-00805f9b34fb
BMS_BLE_NOTIFY_UUID=0000fff1-0000-1000-8000-00805f9b34fb
BMS_BLE_TIMEOUT_S=1.5
MOTOR_DRIVER_TYPE=BTS7960
BTS7960_PWM_MODE=SOFTWARE
THROTTLE_FILTER_MODE=NONE
THROTTLE_KALMAN_PROCESS_NOISE=0.02
THROTTLE_KALMAN_MEASUREMENT_NOISE=0.5
BEACON_ENABLED=1
BEACON_DELAY_S=300
CH_BEACON=5
CH_MUTE=6
ENABLE_RC_MELODIES=0
CH_MELODY=8
STARTUP_MELODY=biba_signature
RAMP_ACCEL_RATE=2.0
PWM_FREQUENCY_HZ=20000
RAMP_DECEL_RATE=0.5
RAMP_REVERSE_DECEL_RATE=0.5
RAMP_ZERO_HOLD_S=0.15
MOTOR_DEADBAND=0.05
LEFT_MOTOR_RPWM=18
LEFT_MOTOR_LPWM=13
LEFT_MOTOR_REN=23
LEFT_MOTOR_LEN=24
LEFT_MOTOR_ENABLED=1
RIGHT_MOTOR_RPWM=12
RIGHT_MOTOR_LPWM=19
RIGHT_MOTOR_REN=20
RIGHT_MOTOR_LEN=21
RIGHT_MOTOR_ENABLED=1
MOTOR_CURRENT_LIMITING_ENABLED=0
MOTOR_CURRENT_SENSE_ENABLED=0
MOTOR_CURRENT_SENSE_I2C_ADDRESS=72
MOTOR_CURRENT_SENSE_LEFT_CHANNEL=0
MOTOR_CURRENT_SENSE_RIGHT_CHANNEL=1
MOTOR_CURRENT_SENSE_SAMPLE_RATE_HZ=25
MOTOR_CURRENT_SENSE_GAIN=1
LEFT_MOTOR_CURRENT_SENSE_ZERO_OFFSET_V=0.0
RIGHT_MOTOR_CURRENT_SENSE_ZERO_OFFSET_V=0.0
LEFT_MOTOR_CURRENT_SENSE_AMPS_PER_VOLT=1.0
RIGHT_MOTOR_CURRENT_SENSE_AMPS_PER_VOLT=1.0
LEFT_MOTOR_MAX_CURRENT_A=18
RIGHT_MOTOR_MAX_CURRENT_A=18
LEFT_MOTOR_MAX_POWER_W=180
RIGHT_MOTOR_MAX_POWER_W=180
MOTOR_LIMIT_FALLBACK_VOLTAGE=24.0